body {
    font-size: 2em;
    margin: 3% 10%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    height: 5%;
    margin-top: 3em;
    font-size: 0.8em;
}

footer div {

}



/* Index */

header {
    height: 5em;
}

.title {
    text-align: center;
}

.languages {
    float: right;
}

.languages a {
    display: inline;
}

.difficulty {
    display: flex;
    justify-content: space-evenly;
    height: 15em;
}

.difficulty a {
    width: 15em;
    background-size: cover;
    opacity: 80%;
}

#normal {
    background-image: url("../../assets/imgs/alonso474.jpg");
}

#hard {
    background-image: url("../../assets/imgs/alonso522.jpg");
}

.option span {
    
}

.extra {
    margin-top: 2em;
    text-align: center;
}



/* Quiz */

.questionCounter {
    font-size: 0.8em;
}

.question {
    margin: 1% 0% 5% 0%;
    border: 0.2em gray solid;
    padding: 0.2em 0.3em;
}

.answers {
    display: flex;
    flex-wrap: wrap;
}

.answers div {
    font-size: 0.9em;
    width: 47.8%;
    height: 5em;
    margin: 0.5%;
    padding: 0.3% 0.6%;
    text-align: center;
}

#A {
    background-color: green;
}
#B {
    background-color: red;
}
#C {
    background-color: blue;
}
#D {
    background-color: yellow;
}



/* Result */

