body {
    font-size: 2em;
    margin: 0% 10% 0% 10%;
}

header {
    height: 5em;
}

.title {
    text-align: center;
}

.languages {
    float: right;
}

.languages a {
    display: inline;
}

.difficulty {
    display: flex;
    justify-content: space-evenly;
    height: 15em;
}

.difficulty a {
    width: 15em;
    background-size: cover;
    opacity: 80%;
}

#normal {
    background-image: url("../../assets/imgs/alonso474.jpg");
}

#hard {
    background-image: url("../../assets/imgs/alonso522.jpg");
}

.option span {
    
}

.extra {
    margin-top: 2em;
    text-align: center;
    height: 4em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    height: 2em;
}

footer div {

}