body {
    margin: 0;
    font-size: 20px;
    background-color: rgb(200, 218, 218);
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(255, 255, 0);
}

header {
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 10%;
    padding: 1.5em;
    background-color: rgb(0, 168, 168);
}

.darkmode {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
.darkmode button {
    padding: 0.5em;
    cursor: pointer;
}

.title {
    font-size: 1.7em;
}

.languages {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}
.language span {
    font-size: 1.7em;
    cursor: pointer;
}

main {
    margin: 0 25%;
}

footer {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    font-size: 1.2em;
    padding: 1em;
    background-color: rgb(0, 168, 168);
}
footer div {
    display: flex;
    justify-content: center;
    min-width: 205px;
}



/* Index */

.description {
    margin: 0 10%;
}

.config {
    text-align: center;
}

.difficulty_choice {
    display: flex;
    justify-content: space-around;
    height: 20em;
}

.difficulty_choice div {
    width: 20em;
    background-size: cover;
    opacity: 70%;
    cursor: pointer;
}
.difficulty_choice div:hover {
    opacity: 55%;
}
#normal {
    background-image: url("../../assets/imgs/alonso474.jpg");
}
#hard {
    background-image: url("../../assets/imgs/alonso522.jpg");
}



/* Quiz */

.info {
    display: flex;
    justify-content: space-between;
    margin: 3em 0em 0.3em 0em;
}
.counter {

}
.seed {

}
.difficulty {

}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border: 0.2em gray solid;
    font-size: 1.2em;
    padding: 0.2em 0.3em;
    margin-bottom: 1.5em;
}
.question_img {
    width: 600px;
    margin-top: 0.5em;
}
.question_audio {
    margin-top: 0.5em;
}
.question_hidden {
    display: none;
}

.answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    background-color: rgb(170, 170, 170);
    width: 45%;
    height: 5em;
    margin: 0.5%;
}
.answer_hover:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.true {
    background-color: rgb(0, 175, 0);
}
.false {
    background-color: red;
}

.stats {
    margin: 5em 0;
}
.correctQuestions {
    text-align: center;
    font-size: 2.5em;
}
.resultMsg {
    text-align: center;
    font-style: italic;
}
.progressbar_container {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}
.progressbar {

}
.avgMsg {

}

.summary {

}
.summary_result {
    border: 2px solid gray;
    background-color: rgb(214, 233, 233);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.summary_item {
    border: 1px dotted gray;
    padding: 0.3em 0.5em 0.8em 0.5em;
}
.summary_item span {
    font-size: 0.75em;
    vertical-align: bottom;
}
.summary_question {
    font-size: 0.85em;
}
.summary_answer {
    text-align: center;
    font-size: 0.95em;
}

.share {
    margin: 1em 0 3em 0;
    display: flex;
    justify-content: center;
}
.socials {
    display: inline-flex;
    column-gap: 1em;
}
.socials a img {
    height: 30px;
    width: 30px;
}

.return {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 5em 0;
}
.return button {
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
}