html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: calc(14px + 0.8vmin);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(200, 218, 218);
    /*background-image: linear-gradient(to bottom, rgb(220, 233, 233), rgb(173, 203, 203))*/
}

main {
    flex-grow: 1;
}

.main-anim {
    transition: 
        opacity 1s,
        display 1s allow-discrete;
}

.hidden {
    opacity: 0;
    display: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(255, 255, 0);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    min-width: 100%;
    padding: 1.5em 0 1.5em 0;
    background-color: rgb(0, 168, 168);
}

.darkmode-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
.darkmode-div button {
    padding: 0.5em;
    cursor: pointer;
}

.title {
    font-size: 1.7em;
}

.languages {
    font-size: calc(14px + 0.5vmin);
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    transition: 1s linear;
}
.language {
    font-size: 1.8em;
    cursor: pointer;
}
.language:hover {
    transform: scale(1.3);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    min-width: 100%;
    font-size: 1.2em;
    padding: 0.8em 0 0.8em 0;
    background-color: rgb(0, 168, 168);
    margin-top: auto;
}
footer div {
    display: flex;
    justify-content: center;
    min-width: 205px;
}

.datapolicy {
    flex-direction: column;
    align-items: center;
    position: relative;
}
.datapolicy a {
    cursor: pointer;
}
.datapolicy-popup {
    display: none;
    flex-direction: column;
    row-gap: 0.5em;
    min-width: 400px;
    position: absolute;
    bottom: 53px;
    padding: 1.6em 0.6em 0.8em 0.6em;
    font-size: 0.85em;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(0, 190, 190);
    background-image: url("../assets/imgs/chevron-down.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 49% 1%;
    transition:
        opacity 0.5s,
        display 0.5s allow-discrete;
}
.datapolicy-popup-shown {
    display: flex;
}
.datapolicy-popup p {
    display: inline-block;
    margin: 0;
}




/* Index */

.index {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.aside1 {
    background-image: url("../assets/imgs/alonso474_lq_nb.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: left bottom;
    opacity: 0.5;
}
.aside2 {
    background-image: url("../assets/imgs/alonso522_nb.png");
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.5;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 245, 245);
    padding: 1em 1em 1.5em 1em;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
}
.description p {
    margin: 0 0 2em 0;
    font-size: 1.1em;
}
.description p:first-child {
    text-align: center;
    font-size: 1.25em;
}
.description p:nth-child(5) {
    display: inline;
    text-align: center;
}
.email {
    font-style: italic;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}
.start button {
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
}




/* Quiz */

.quiz {
    margin: 2.5em 20% 3em 20%;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3em;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border: 0.1em gray solid;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 0.2em 0.3em;
    margin-bottom: 1.5em;
}
.question span {
    position: relative;
    text-align: center;
}

.typewriter::before,
.typewriter::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.typewriter::before{
    background: aliceblue;
    animation: typewriter 0.5s linear forwards;
}
@keyframes typewriter{
    to{
        left: 100%;
    }
}

.question_img {
    width: 55%;
    margin-top: 0.5em;
    cursor: zoom-in;
    transition: 
        opacity 0.5s,
        display 0.5s allow-discrete;
}
.zoomed-in {
    transform: scale(1.75);
    cursor: zoom-out;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .35);
}

.question_audio {
    margin-top: 0.5em;
}

.extra {
    padding: 0.3em 0.6em;
    background-color: rgb(136, 196, 236);
    font-size: 0.9em;
    margin: 1em 0em 1.5em 0em;
    transition: 
        opacity 1s,
        display 1s allow-discrete;
}

.answer_container {
    display: flex;
    opacity: 1;
    justify-content: space-around;
    align-items: center;
    column-gap: 0.3em;
}
.answer_control {
    width: 14%;
    cursor: pointer;
    transition: 
        opacity 1s,
        display 1s allow-discrete;
}
.answer_control img {
    max-width: 100%;
    height: auto;
}
.answer_control:hover {
    color: rgb(255, 255, 0);
}
.answer_control span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4em;
    width: 70%;
}
.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border-radius: 2px;
    background-color: rgb(170, 170, 170);
    height: 5em;
    text-align: center;
}
.answer_hover:hover {
    background-color: rgb(185, 185, 185);
    cursor: pointer;
}
.answer span {
    padding: 0.3em;
}

.true {
    background-color: rgb(0, 175, 0);
}
.false {
    background-color: red;
}




/* Result (quiz) */



.stats {
    margin: 4em 0;
}
.resultQuestions {
    text-align: center;
    font-size: 2.5em;
}
.resultMsg {
    text-align: center;
    font-style: italic;
}
.progressbar_container {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}

.summary-info {
    display: flex;
    justify-content: center;
    margin-bottom: 0.2em;
    font-size: 1.3em;
}
.summary_result {
    border: 2px solid gray;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.summary_item {
    border: 1px dotted gray;
    background-color: rgb(225, 245, 245);
    padding: 0em 0.3em 0.5em 0.3em;
}
.summary_item:hover {
    background-color: rgb(210, 230, 230);
}
.summary_item span {
    font-size: 0.75em;
    vertical-align: bottom;
}
.summary_question {
    font-size: 0.85em;
}
.summary_answer {
    text-align: center;
    font-size: 0.95em;
    margin-top: 0.2em;
}

.share {
    margin: 1em 0 3em 0;
    display: flex;
    justify-content: center;
}
.socials {
    display: flex;
    column-gap: 1em;
}
.socials-btn {
    width: fit-content;
    height: fit-content;
}
.socials-btn img {
    height: 30px;
    cursor: pointer;
}
.socials-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.link-btn-popup {
    position: absolute;
    top: 1.5em;
    min-width: max-content;
    padding: 0.15em 0.3em;
}

.return {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 3em 0;
}
.return button {
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
}




/* Transitions */

@starting-style {
    .datapolicy-popup-shown {
        opacity: 0;
    }
    .extra {
        opacity: 0;
    }
    .answer_control {
        opacity: 0;
    }
    .main-anim {
        opacity: 0;
    }
    .question_img {
        opacity: 0;
    }
}


/* Media queries */

@media screen and (max-width: 500px) {
    .index {
        grid-template-columns: 0.15fr 2fr 0.15fr;
    }
    .quiz {
        margin: 2.5em 5% 3em 5%;
    }
    .answers {
        width: 55%;
        font-size: 16px;
    }
    .answer_control {
        width: 21%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
    .index {
        grid-template-columns: 0.3fr 2fr 0.3fr;
    }
    .quiz {
        margin: 2.5em 10% 3em 10%;
    }
    .answers {
        width: 60%;
        font-size: 16px;
    }
    .answer_control {
        width: 18%;
    }
}

@media screen and (max-width: 800px) {
    header {
        column-gap: 5%;
        padding: 0.7em 0 0.7em 0;
    }
    .title {
        text-align: center;
        max-width: 125px;
    }

    .answers {
        grid-template-columns: 1fr;
    }
    .datapolicy-popup {
        min-width: 300px;
        bottom: 40px;
    }
    .summary_result {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        row-gap: 0.6em;
        padding: 0.5em 0 0.5em 0;
    }
}

@media screen and (max-width: 1100px) {
    .socials {
        column-gap: 1.3em;
    }
    .socials-btn img {
        height: 35px;
    }
    .aside1, .aside2 {
        background-image: none;
    }
}