body {
    margin: 0;
    font-size: 20px;
    background-color: rgb(200, 218, 218);
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(255, 255, 0);
}

header {
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 10%;
    padding: 1.5em;
    background-color: rgb(0, 168, 168);
}

.darkmode {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
.darkmode button {
    padding: 0.5em;
    cursor: pointer;
}

.title {
    font-size: 1.7em;
}

.languages {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}
.language span {
    font-size: 1.7em;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    font-size: 1.2em;
    padding: 1em;
    background-color: rgb(0, 168, 168);
}
footer div {
    display: flex;
    justify-content: center;
    min-width: 205px;
}

section {
    margin: 0 25%;
}



/* Index */

.description {
    margin: 0 30%;
}

.config {
    text-align: center;
}

.difficulty {
    display: flex;
    justify-content: space-evenly;
    height: 20em;
}

.difficulty a {
    width: 20em;
    background-size: cover;
    opacity: 70%;
    cursor: pointer;
}
.difficulty a:hover {
    opacity: 55%;
}
#normal {
    background-image: url("../../assets/imgs/alonso474.jpg");
}
#hard {
    background-image: url("../../assets/imgs/alonso522.jpg");
}



/* Quiz */

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 0.3em;
}
#counter {

}
#seed {

}
#difficulty {

}

.question {
    background-color: aliceblue;
    border: 0.2em gray solid;
    font-size: 1.2em;
    padding: 0.2em 0.3em;
    margin-bottom: 1.5em;
}

.answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    background-color: rgb(170, 170, 170);
    width: 45%;
    height: 5em;
    margin: 0.5%;
}
.answer_hover:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.true {
    background-color: rgb(0, 175, 0);
}
.false {
    background-color: red;
}


/* Result */

